.header__wrapper {
    background-color: #6c7754;
    position: relative;
}

.form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    color: whitesmoke;
}

.info__label {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.contact__label {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.info__label-gender{
    cursor: pointer;
    margin-top: 10px;
}
.info__input-gender{
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.custom-radio-btn {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #ffffff;
    border: 2px solid #99c736;
    border-radius: 50%;
    vertical-align: text-top;
    margin-right: 5px;
}
.custom-radio-btn::before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    background: #99c736;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
}
.info__input-gender:checked + .custom-radio-btn::before {
    transform: translate(-50%, -50%) scale(1);
}

.info__input-gender:focus + .custom-radio-btn {
    box-shadow: 0px 0px 3px 1px #88c090, 0px 0px 15px #0c680c;
}

.contact__label-time {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact__interval-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 210px;
}

.form__contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.info__gender-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form__information {
    background-color: #6c7754;
    border: 1px solid black;
}

.form__contacts {
    background-color: #6c7754;
    border: 1px solid black;
}

.info__contacts-title,
.contact__title {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    color: black;
}

.info__title,
.contact__text {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
}

.info__label,
.contact__label {
    margin-top: 10px;
}

.info__input,
.contact__input {
    border: 1px solid black;
    border-radius: 5px;
    width: 210px;
    height: 20px;
    margin-top: 3px;
}

.info__input:hover::placeholder{
    color: black;
}

.contact__label-time {
    margin-right: 12px;
    min-width: 58px;
    margin-left: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.form__button-wrapper {
    margin-top: 10px;
}

.form__button-send {
    margin-right: 55px;
    border: 1px solid black;
    background-color: #bad580;
}

.form__button-send:focus {
    background-color: grey;
}

.form__button-reset {
    border: 1px solid black;
    background-color: #bad580;
}

.form__button-reset:focus {
    background-color: grey;
}
@media (min-width:1440px){
    .info__contacts-title, .contact__title {
        font-size: 4rem;
    }
    .form{
        font-size: 2.5rem;
    }
    .info__input, .contact__input {
        border: 2px solid black;
        border-radius: 5px;
        width: 388px;
        height: 40px;
    }
    .info__input-gender{
        width: 28px;
        margin-right: 10px;
    }
    .contact__input-time{
        width: 28px;
    }
    .contact__label-time{
        margin-right: 24px;
        min-width: 102px;
        margin-left: 42px;
        margin-top: 8px;
        margin-bottom: 3px;
    }
    .contact__interval-wrapper{
        width: 338px;
    }
    .form__button-send{
        padding: 13px 30px;
    }
    .form__button-reset{
        padding: 13px 30px;
    }
    .custom-radio-btn {
        width: 26px;
        height: 26px;
        border: 3px solid #99c736;
        margin-right: 10px;
    }
    .info__input-gender:checked + .custom-radio-btn::before {
        transform: translate(-50%, -50%) scale(2);
    }
    
}
.custom-section{
    margin: 100px auto 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-container{
    background-color: #fff;
    border-radius: 30px;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
    width: 534px;
    padding-right: 20px;
}
.term{
    margin-bottom: 10px;
    font-size: 3rem;
}
.term::first-letter{
    font-size: 4rem;
    color: #04971d;
}
.description{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-size: 2rem;
    position: relative;
}
.description::before {
    content: "🛈";
    position: absolute;
    left: -20px;
}
.Pseudo-classes,.Pseudo-elements{
    font-size: 2rem;
    border: 0;
    padding: 0;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}
.Pseudo-classes__label{
    font-size: 1.5rem;
    margin-top: 20px;
    display: block;
    position: relative;
    cursor: pointer;
}
.Pseudo-classes__label input {
    display: none
}
.Pseudo-elements__label{
    font-size: 1.5rem;
    margin-top: 20px;
    display: block;
    position: relative;
    cursor: pointer;
}
.Pseudo-elements__label input {
    display: none;
}
.checkmark{
    margin-left: 30px;
}
.checkmark::before {
    content: "";
    height: 25px;
    width: 25px;
    background-color: #eee;
    position: absolute;
    left:0;
    top:0;
}
.Pseudo-classes__label:hover .Pseudo-classes__input + .checkmark::before {
    background-color: #93a893;
    box-shadow: 0 0 5px 1px #179b17
}
.Pseudo-elements__label:hover .Pseudo-elements__input + .checkmark::before {
    background-color: #93a893;
    box-shadow: 0 0 5px 1px #179b17
}
.Pseudo-classes__input:checked + .checkmark::before {
    background-color: #88c090;
}
.Pseudo-elements__input:checked + .checkmark::before {
    background-color: #88c090;
}
.Pseudo-classes__input:checked + .checkmark:after {
    display: block;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    content: "";
    position: absolute;
}
.Pseudo-elements__input:checked + .checkmark:after {
    display: block;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    content: "";
    position: absolute;
}
.Pseudo-classes__input:checked + .checkmark {
    text-decoration: line-through
}
.Pseudo-elements__input:checked + .checkmark {
    text-decoration: line-through
}
.Pseudo-classes__label:nth-child(even) {
    color: #ff0000;
}

.Pseudo-classes__label:nth-child(odd) {
    color: #1900ff;
}
.Pseudo-elements__label:nth-child(even) {
    color: #ff0000;
}

.Pseudo-elements__label:nth-child(odd) {
    color: #1900ff;
}
.form__send{
    width: 170px;
    height: 30px;
    color: white;
    background-color: #689c68;
    border: 0;
}
.checkmark{
    font-size: 2rem;
}

@media (min-width: 390px){
    .term{
        font-size: 2rem;
    }
    .description{
        font-size: 1.7rem;
    }
    .checkmark{
        font-size: 1.7rem;
    }
    .form__send{
        font-size: 2rem;
        width: 300px;
    }
    .form-container {
        width: 311px;
    }
}