/* inter-300 - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/inter-v13-cyrillic-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-cyrillic-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v13-cyrillic-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* philosopher-regular - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/philosopher-v19-cyrillic-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* philosopher-italic - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Philosopher';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/philosopher-v19-cyrillic-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* philosopher-700 - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/philosopher-v19-cyrillic-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


:root {
    --button-color:#9EAF7C;
    --background-color: #F3F1EC;
    --backgroundfooter-color: #9EAF7C;
    --text-color: #FFFFFF;
    --subtext-color:#000;
    --number-color:#9EAF7C;
    --title-color: #4B4B4B;
    --border-color: #C3BEBE;
    --form-color:#FFFFFF;
    font-size: 62.5%;
}
body{
    background-color: var(--background-color);
}
.header{
    padding: 25px 0 0;
    margin-bottom: -77px;
    position: relative;
    z-index: 100;
}
.header__logo-link{
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Philosopher',serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0px 0px 0px 45px;
}
.header__button-menu{
    border-radius: 60px;
    background: var(--button-color);
    width: 45px;
    height: 45px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
    margin: 0 0 0 167px;
}
.outdoor-furniture{
    background-image: url(/photo_2023-06-26\ 15.34\ 1\ \(1\).png);
    width: 390px;
    height: 804px;
    padding: 0.01rem 0rem 0;
}
.outdoor-furniture__wrapper{
    background: rgba(68, 66, 55, 0.70);
    width: 390px;
    height: 804px;
    padding: 0.01rem 0rem 0;
}
.outdoor-furniture__title{
    color:var(--text-color);
    font-family: "Inter", sans-serif;
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.204rem;
    margin: 13rem 0rem 0rem 0;
    padding: 0 0 0 4.5rem;
}
.outdoor-furniture__subtitle{
    color: var(--text-color);
    font-family: 'Philosopher', serif;
    font-size: 4.0rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin: 1.3rem 0 0 0;
    padding: 0 0 0 4.3rem;
}
.outdoor-furniture__subsubtitle{
    color: var(--text-color);
    font-family: 'Inter',sans-serif;
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.204rem;
    margin: 0.3rem 0  6.5rem 0;
    padding: 0 0 0 7.3rem;
}
.outdoor-furniture__link{
    color: var(--text-color);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.032rem;
    border-radius: 1rem;
    width: 149px;
    height: 12px;
    background: var(--button-color);
    border: 0;
    text-decoration-line: none;
    padding: 23px 87px;
    margin: 0 45px 0 45px;
}
.outdoor-furniture__benefits{
    margin: 79px 0px 0px 0px;
    padding: 0;
    
}
.benefits__item{
    list-style-type: none;
    padding: 0 41px 0 0;
    margin: 0 0 0 121px;
    
}
.benefits__description{
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.108rem;
    margin: 0 0 36px 0;
}
.benefits__img-truck{
    background-image: url(/image/Ellipse\ 21.svg);
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display:inline-flex;
    position: absolute;
    left: 45px;
}
.benefits__img-cottage{
    background-image: url(/image/Ellipse\ 21.svg);
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display:inline-flex;
    position: absolute;
    left: 45px;
}
.benefits__img-shield{
    background-image: url(/image/Ellipse\ 21.svg);
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display:inline-flex;
    position: absolute;
    left: 45px;
}
.company__title{
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 3.8rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.company__item-number{
    color: var(--number-color);
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    font-size: 7rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.company__item-production{
    color: var(--number-color);
    text-align: center;
    font-family: 'Philosopher',sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.1rem;
}
.company__item-text{
    color: var(--subtext-color);
    text-align: center;
    font-family: 'Inter',serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.company__list-item{
    list-style-type: none;
}
.company__link{
    color: var(--text-color);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.92rem;
    letter-spacing: -0.032rem;
    border-radius: 1rem;
    background: var(--button-color);
    width: 30rem;
    height: 5.8rem;
    border: 0;
    text-decoration-line: none;
}
.products__title{
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 3.8rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.products__detail{
    border-radius: 2px;
    border: 1px solid var(--border-color);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(223, 224, 226, 0.20) 0.01%, rgba(143, 145, 149, 0.20) 100%);
    box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(10.5px);
}
.information__toggle{
    border-radius: 60px;
    background: var(--button-color);
    display: flex;
    width: 33px;
    height: 33px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
}
.information__title{
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.6rem;
}
.information__description{
    color: var(--title-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.catalog__title{
    color: var(--title-color);
    font-family: 'Philosopher',serif;
    font-size: 3.8rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.catalog__item{
    list-style-type: none;
}
.product__link{
    color: var(--title-color);
    font-family: 'Philosopher',serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6rem;
    text-decoration: none;
}
.catalog__link{
    color: var(--text-color);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.92rem;
    letter-spacing: -0.032rem;
    border-radius: 1rem;
    background: var(--button-color);
    width: 30rem;
    height: 5.8rem;
    border: 0;
    text-decoration-line: none;

}
.custom-order__wrapper{
    background-color: #444237B2;
    
}
.custom-order__title{
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.192rem;
}
.custom-order__para{
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.144rem;
}
.custom-order__subpara{
    color: #FFF;
    font-family: 'Philosopher', serif;
    font-size: 3.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.custom-order__label-name{
    display: flex;
    width: 130px;
    height: 48px;
    padding: 0px 206px 0px 21px;
    align-items: center;
    border-radius: 60px;
    background: var(--form-color);
}
.custom-order__label-telephone{
    display: flex;
    width: 130px;
    height: 48px;
    padding: 0px 180px 0px 21px;
    align-items: center;
    border-radius: 60px;
    background: var(--form-color);
}
.custom-order__input{
    color:#101213;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.96rem;
    outline: none;
    border: none;
}
.custom-order__label-textarea{
    display: inline-flex;
    height: 110px;
    padding: 19px 158px 81px 21px;
    align-items: center;
    border-radius: 20px;
    background: var(--form-color);
}
.custom-order__textarea{
    color:#101213;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.96rem; 
    resize: none;
    outline: none;
    border: none;
}
.custom-order__agreement{
    color:#FFF;
    font-family: sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}
.custom-order__link{
    color: #9EAF7C;
    text-decoration-line: underline;
}
.custom-order__button{
    color: var(--text-color);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.92rem;
    letter-spacing: -0.032rem;
    border-radius: 1rem;
    background: var(--button-color);
    width: 30rem;
    height: 5.8rem;
    border: 0;
}
.order-process__title{
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 3.8rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.order-process__item{
    width: 301.154px;
    height: 406.558px;
    border-radius: 20px;
    background: var(--form-color);
    list-style-type: none;
}
.order-process__subtitle{
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.96rem;
}
.order-process__description{
    color:var(--title-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.order-process__link{
    color: var(--text-color);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.92rem;
    letter-spacing: -0.032rem;
    border-radius: 1rem;
    background: var(--button-color);
    width: 30rem;
    height: 5.8rem;
    border: 0;
    text-decoration-line: none;

}
.article__title{
    color: var(--title-color);
    font-family: 'Philosopher',serif;
    font-size: 3.8rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.article__reviews{
    width: 300px;
    height: 492px;
    border-radius: 20px;
    background: var(--form-color);
}
.reviews__author{
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.8rem;
}
.reviews__text{
    color: var(--title-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.article__link{
    color: var(--text-color);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.92rem;
    letter-spacing: -0.032rem;
    border-radius: 1rem;
    background: var(--button-color);
    width: 30rem;
    height: 5.8rem;
    border: 0;
    text-decoration-line: none;

}
.clients__title{
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 3.8rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.clients-list__item{
    border-radius: 20px;
    background: var(--form-color);
    width: 140px;
    height: 140px;
    list-style-type: none;
}
.clients-list__name{
    color: var(--title-color);
    font-family: 'Philosopher',serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.12rem;
}
.footer{
    background-color: var(--backgroundfooter-color);
}
.footer__title{
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 3.8rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.footer__address{
    color: var(--text-color);
    font-family: 'Philosopher',serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8669rem;
    list-style-type: none;
}
.footer__email{
    text-decoration-line: none;
    color: var(--text-color);
}
.footer__telephone{
    text-decoration-line: none;
    color: var(--text-color);
}
