/* inter-300 - cyrillic */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/inter-v13-cyrillic-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - cyrillic */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-cyrillic-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - cyrillic */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v13-cyrillic-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* philosopher-regular - cyrillic */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/philosopher-v19-cyrillic-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* philosopher-italic - cyrillic */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Philosopher';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/philosopher-v19-cyrillic-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* philosopher-700 - cyrillic */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/philosopher-v19-cyrillic-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --button-color: #6c7754;
    --background-color: #F3F1EC;
    --backgroundfooter-color: #6c7754;
    --text-color: #FFFFFF;
    --subtext-color: #000;
    --number-color: #6c7754;
    --title-color: #4B4B4B;
    --border-color: #C3BEBE;
    --form-color: #FFFFFF;
    font-size: 62.5%;
}

::selection {
    background: #a1bb68;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    font-family: "Inter", sans-serif;
}

.header__wrapper {
    padding: 25px 0 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__logo-link {
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Philosopher', serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0;
    margin-left: 45px;
}

.header__button-menu {
    border-radius: 60px;
    background: var(--button-color);
    min-width: 30px;
    min-height: 30px;
    padding: 2px;
    border: 0;
    margin-right: 45px;
}

.menu {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menuRotate.active {
    transform: rotate(45deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: white;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.top {
    stroke-dasharray: 40 139;
}

.bottom {
    stroke-dasharray: 40 180;
}

.menu.active .top {
    stroke-dashoffset: -98px;
}

.menu.active .bottom {
    stroke-dashoffset: -138px;
}

.header__address-wrapper {
    display: none;
    flex-direction: row;
    margin-left: 535px;
    padding-top: 5px;
}

.header__address {
    display: none;
    color: var(--text-color);
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.084rem;
    padding: 0;
    margin: 0;
    margin-left: 90px;
}

.header__work-time {
    display: none;
    color: var(--text-color);
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.084rem;
    padding: 0;
    margin: 0;
    margin-left: 227px;
}

.header__telephone {
    display: none;
    color: var(--text-color);
    text-align: right;
    font-family: 'Philosopher', serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.108rem;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    text-decoration: none;
}

.header__nav {
    display: none;
}

.header__messenger {
    display: none;
}

.navigation__link {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.108rem;
    text-decoration: none;
    display: block;
    position: relative;
}
.navigation__link:hover {
    transform: scale(1.1); 
    color: #98b164;
    transition: transform 0.3s ease; 
}

.navigation__link::before{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s transform ease;
    transform: scale3d(0,1,1);
    transform-origin: 0 50%;
}

.navigation__link:hover::before{
    transform: scale3d(1,1,1);
}

.navigation__link::before{
    background: #98b164;
    transform-origin: 100% 50%;
}

.navigation__link:hover::before{
    transform-origin: 0 50%;
}

.navigation__item {
    list-style-type: none;
}

.messenger__item {
    list-style-type: none;
}

.outdoor-furniture {
    background-image: url(/Image/Background-first-block.jpg);
    background-position: -529px 0px;
    background-size: cover;
    min-width: 390px;
    min-height: 804px;
}

.outdoor-furniture__wrapper {
    background: rgba(68, 66, 55, 0.70);
    min-height: 804px;
    padding: 0.01rem 0rem 0;
    padding-left: 45px;
}

.outdoor-furniture__title {
    position: relative;
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.204rem;
    margin: 13rem 0rem 0rem 0;
}

.outdoor-furniture__title::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 42px;
    background-image: url(/Image/wave_2.svg);
    width: 242px;
    height: 7px;
}

.outdoor-furniture__subtitle {
    color: var(--text-color);
    font-family: 'Philosopher', serif;
    font-size: 4.0rem;
    font-style: italic;
    line-height: normal;
    margin: 1.3rem 0 0 0;
}

.outdoor-furniture__subsubtitle {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.204rem;
    margin: 0.3rem 0 4.1rem 0;
    padding: 0 0 0 3rem;
}

.outdoor-furniture__link {
    color: var(--text-color);
    text-align: center;
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.032rem;
    border-radius: 1rem;
    width: 13rem;
    background: var(--button-color);
    border: 0;
    text-decoration-line: none;
    padding: 20px 81px;
    margin: 0 0 0 8px;
}

.outdoor-furniture__benefits {
    margin: 49px 0px 0px 0px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.benefits__item {
    list-style-type: none;
    padding: 0 50px 0 0px;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

.benefits__description {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.108rem;
    margin: 0;
}

.benefits__img {
    min-width: 60px;
    min-height: 60px;
    background: var(--button-color);
    border-radius: 100px;
    margin: 0;
}

.company {
    min-width: 390px;
    position: relative;
}

.company::before {
    content: '';
    position: absolute;
    top: -32px;
    background-image: url(/Image/hearts_1.svg);
    width: 100%;
    height: 54px;
}

.company__wrapper {
    padding: 22px 35px 0 35px;
}

.company__title {
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 3.8rem;
    font-style: italic;
    line-height: normal;
    margin: 0px 0 35px 0;
    font-weight: 400;
}

.company__image {
    height: 335px;
    display: block;
    padding: 0;
    margin: 0 auto;
    border-radius: 20px;
    border: 5px solid #9EAF7C;
}

.company__list {
    padding: 0;
}

.company__list-item {
    position: relative;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company__item-number {
    color: var(--number-color);
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    font-size: 7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
}

.company__image-ovals {
    position: absolute;
    object-fit: cover;
    top: -24px;
    left: 0px;
    margin: 0 0 0 11px;
}

.image-ovals {
    object-fit: cover;
    position: absolute;
    width: 350px;
    z-index: 1;
}

.image-ovals-two {
    object-fit: cover;
    position: absolute;
    top: 13px;
    width: 350px;
    z-index: 1;
}

.image-ovals-three {
    object-fit: cover;
    position: absolute;
    top: 26px;
    width: 350px;
    z-index: 1;
}

.company__item-text {
    color: var(--subtext-color);
    text-align: center;
    font-family: 'Inter', serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
}

.company__item-text-years {
    color: var(--subtext-color);
    text-align: center;
    font-family: 'Inter', serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
}

.company__item-text-buyer {
    color: var(--subtext-color);
    text-align: center;
    font-family: 'Inter', serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
}

.company__item-production {
    color: var(--number-color);
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.1rem;
    margin: 67px 58px 0 59px;
    max-width: min-content;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
}

.company__link {
    color: var(--text-color);
    text-align: center;
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.032rem;
    border-radius: 1rem;
    width: 130px;
    background: var(--button-color);
    border: 0;
    text-decoration-line: none;
    padding: 20px 87px;
    margin: 73px auto 0 auto;
}

.products {
    min-width: 390px;
}

.products__wrapper {
    padding: 24px 0px 0 34px;
}

.products__title {
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 3.8rem;
    font-style: italic;
    line-height: normal;
    margin: 0px 0 39px 0;
    font-weight: 400;
}

.products__detail {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(223, 224, 226, 0.20) 0.01%, rgba(143, 145, 149, 0.20) 100%);
    box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(10.5px);
    margin: 0 46px 101px 0px;
    max-width: 459px;
    min-width: 238px;
    padding-left: 65px;
}

.products__detail-tree {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(223, 224, 226, 0.20) 0.01%, rgba(143, 145, 149, 0.20) 100%);
    box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(10.5px);
    margin: 0 46px 101px 0px;
    max-width: 459px;
    min-width: 238px;
    padding-left: 65px;
}

.products__detail-textile {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(223, 224, 226, 0.20) 0.01%, rgba(143, 145, 149, 0.20) 100%);
    box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(10.5px);
    margin: 0 46px 0px 0px;
    max-width: 459px;
    min-width: 238px;
    z-index: 100;
    position: relative;
    padding-left: 65px;
}

.information__toggle {
    display: inline-flex;
    border-radius: 60px;
    background: var(--button-color);
    width: 33px;
    height: 33px;
    border: 0;
    margin: 10px 0 0 -54px;
    background-image: url(/Image/plus.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}

.information__toggle {
    transition: 0.4s 0.4s ease-in-out;
}

.information__toggle:hover {
    transform: rotate(180deg)
}

.information__toggle:active {
    transform: rotate(180deg)
}

.information__toggle:focus {
    transform: rotate(180deg)
}

.products__sofa {
    position: relative;
    bottom: 120px;
    border: 0;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sofa__image {
    position: absolute;
    width: 482px;
    object-fit: cover;
    object-position: 165px 10px;
}

.products__sofa-two {
    position: relative;
    bottom: 130px;
    left: -330px;
}

.sofa-two__image {
    position: absolute;
    z-index: 1;
    width: 649px;
}

.information__title {
    display: inline-block;
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.6rem;
    margin: 0 0 0 0px;
    padding-right: 43px;
}

.information__title-tree {
    display: inline-block;
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.6rem;
    margin: 0;
}

.information__description {
    color: var(--title-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: normal;
    padding: 0px 11px 0px 0px;
    font-weight: 400;
}

.products__link {
    display: none;
    color: var(--text-color);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.032rem;
    border-radius: 1rem;
    width: 13rem;
    background: var(--button-color);
    border: 0;
    text-decoration-line: none;
    padding: 20px 87px;
    margin: 0 auto;
}


.catalog {
    min-width: 390px;
    position: relative;
}

.catalog::after {
    content: '';
    position: absolute;
    background-image: url(/Image/hearts_1.svg);
    width: 100%;
    height: 54px;
    bottom: -80px;
    transform: scaleY(-1);
}

.catalog__wrapper {
    padding: 62px 43px 0 43px;
}

.catalog__title {
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 3.8rem;
    font-style: italic;
    line-height: normal;
    margin: 0 0 0px 0;
    font-weight: 400;
}

.catalog__list {
    padding: 43px 0px;
    margin: 0 auto;
    display: grid;
    gap: 30px 14.5px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    justify-items: center;
}

.catalog__item {
    list-style-type: none;
    max-width: min-content;
}

.catalog__item:first-child {
    grid-column: 1/-1;
}

.catalog__list-big {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.product__image-big {
    min-width: 299px;
    min-height: 254px;
    border-radius: 20px;
    background: rgba(158, 175, 124, 0.20);
    margin: 0 0 21px 0;
}

.product__image {
    margin-bottom: 10px;
    min-width: 140px;
    min-height: 132px;
    border-radius: 20px;
    background: rgba(158, 175, 124, 0.20);
}

.product__link {
    position: relative;
    display: block;
    text-align: left;
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6rem;
    text-decoration: none;
    padding: 0 10px 0 0;
}

.product__link:hover {
    color: #6c7754;
}

.product__link:active {
    color: #6c7754;
}

.product__link:focus {
    color: #6c7754;
}

.product__link::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -3px;
    background-color: var(--background-color);
    width: 0;
    height: 2px;
    left: 0;
    transition: width 0.5s ease-out;
    transform: scale3d(0,1,1);
    transform-origin: 0 50%;
}

.product__link:hover:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 20px;
    background-image: url(/Image/wave_2.svg);
    height: 7px;
    transform: scale3d(1,1,1);
}

.product__link::after {
    background: var(--background-color);
    transform-origin: 100% 50%;
}

.product__link:hover:after {
    transform-origin: 0% 50%;
}

.product__link:focus:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 20px;
    background-image: url(/Image/wave_2.svg);
    width: 242px;
    height: 7px;
}

.catalog__item:nth-child(1)>.product__link:hover:after {
    width: 150px;
}

.catalog__item:nth-child(2)>.product__link:hover:after {
    width: 75px;
}

.catalog__item:nth-child(3)>.product__link:hover:after {
    top: 38px;
    width: 125px;
}

.catalog__item:nth-child(4)>.product__link:hover:after {
    width: 95px;
    top: 39px;
}

.catalog__item:nth-child(5)>.product__link:hover:after {
    width: 124px;
    top: 37px;
}

.catalog__item:nth-child(6)>.product__link:hover:after {
    width: 74px;
    top: 37px;
}

.catalog__item:nth-child(7)>.product__link:hover:after {
    width: 91px;
    top: 25px;
}

.catalog__item:nth-child(8)>.product__link:hover:after {
    width: 77px;
    top: 37px;
}

.catalog__item:nth-child(9)>.product__link:hover:after {
    width: 96px;
    top: 37px;
}

.catalog__link {
    color: var(--text-color);
    text-align: center;
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.032rem;
    border-radius: 1rem;
    width: 130px;
    background: var(--button-color);
    border: 0;
    text-decoration-line: none;
    padding: 20px 87px;
    margin: 0 auto;
}

.custom-order {
    background-image: url(/Image/background_form.jpg);
    background-position: -705px -21px;
    margin: 46px 0 0 0;
}

.custom-order__wrapper {
    background: rgba(68, 66, 55, 0.70);
    min-height: 770px;
    padding-left: 45px;

}

.custom-order__title {
    position: relative;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.192rem;
    padding: 76px 0 0 0px;
    margin: 0 0 23px 0;
}

.custom-order__title::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 120px;
    background-image: url(/Image/wave_2.svg);
    width: 285px;
    height: 7px;
}

.custom-order__para {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.144rem;
    padding: 0 20px 0 0px;
    margin: 0 0 8px 0;
}

.custom-order__subpara {
    color: #FFF;
    font-family: 'Philosopher', serif;
    font-size: 3.2rem;
    font-style: italic;
    line-height: normal;
    margin: 0 0 50px 0;
}

.custom-order__label-name,
.custom-order__label-telephone {
    display: block;
    margin-bottom: 20px;
}

.custom-order__input {
    color: black;
    font-family: sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    line-height: 1.96rem;
    outline: none;
    border: none;
    width: 290px;
    height: 48px;
    border-radius: 50px;
    padding-left: 21px;
}

.custom-order__input:focus::placeholder {
    color: black;
}

.custom-order__label-textarea {
    display: block;
}

.custom-order__textarea {
    color: #101213;
    font-family: sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    line-height: 1.96rem;
    resize: none;
    outline: none;
    border: none;
    width: 280px;
    height: 110px;
    border-radius: 20px;
    padding: 20px 10px 0 20px;
}

.custom-order__textarea:focus::placeholder {
    color: black;
}

.custom-order__agreement {
    color: #FFF;
    font-family: sans-serif;
    font-size: 1.7rem;
    font-style: normal;
    line-height: 1.5rem;
    margin: 15px 0 0 0px;
    padding: 0 35px 0 0;
}

.custom-order__link {
    color: #9EAF7C;
    text-decoration-line: underline;
}

.custom-order__button {
    color: var(--text-color);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 1.92rem;
    letter-spacing: -0.032rem;
    border-radius: 1rem;
    background: var(--button-color);
    width: 30rem;
    height: 5.8rem;
    border: 0;
    margin: 23px 0 0 0px;
    cursor: pointer;
}

.order-process {
    min-width: 390px;
    position: relative;
}

.order-process::before {
    content: '';
    position: absolute;
    top: -20px;
    background-image: url(/Image/hearts_1.svg);
    width: 100%;
    height: 54px;
}

.order-process__wrapper {
    padding: 22px 43px 0 43px;
}

.order-process__title {
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 3.8rem;
    font-style: italic;
    line-height: normal;
    margin: 0 0 35px 0;
    padding: 0px 0 0 0px;
    font-weight: 400;
}

.order-process__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.order-process__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    max-width: 260px;
    min-height: 407px;
    border-radius: 20px;
    background: var(--form-color);
    list-style-type: none;
    margin: 0 0 35px 0;
    padding: 48px 15px 0 28px;
}

.order-process__subtitle {
    position: relative;
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.96rem;
    margin: 79.4px 0 0 0;
}

.order-process__subtitle::before {
    content: '';
    background-image: url('/Image/wave.svg');
    height: 7px;
    position: absolute;
    left: -3px;
    top: -33px;
    width: 265px;
}

.order-process__description {
    color: var(--title-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    line-height: normal;
    margin: 17px 0 0 0px;
    font-weight: 400;
}

.order-process__link {
    color: var(--text-color);
    text-align: center;
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.032rem;
    border-radius: 1rem;
    width: 130px;
    background: var(--button-color);
    border: 0;
    text-decoration-line: none;
    padding: 20px 87px;
    margin: 0 auto;
}

.article {
    min-width: 390px;
}

.article__wrapper {
    padding: 56px 45px 0 45px;
}

.article__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.article__item {
    margin-bottom: 18px;
}

.article__title {
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 3.8rem;
    font-style: italic;
    line-height: normal;
    margin: 0 0 44px 0;
    font-weight: 400;
}

.article__reviews-Anna {
    border-radius: 20px;
    max-width: 265px;
    background: var(--form-color);
    padding: 18px 20px 40px 18px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.article__reviews-Kirill {
    border-radius: 20px;
    max-width: 265px;
    background: var(--form-color);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 18px 18px 37px 18px;
}

.article__reviews-Andrey {
    border-radius: 20px;
    max-width: 265px;
    background: var(--form-color);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 23px 20px 42px 18px
}

.reviews__image {
    width: 89px;
    height: 89px;
    border-radius: 100px;
    background-color: #9EAF7C;
}

.reviews__author {
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.8rem;
    min-height: 56px;
    max-width: 120px;
    margin: 18px 0 0 24px;
}

.reviews__text {
    position: relative;
    color: var(--title-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    line-height: normal;
    margin: 57px 0 0 0;
}

.reviews__text::before {
    content: '';
    background-image: url('/Image/wave.svg');
    height: 7px;
    position: absolute;
    left: -3px;
    top: -33px;
    width: 265px;
}

.reviews__text-br {
    color: var(--title-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    line-height: normal;
    padding: 0;
    margin: 0;
}

.article__link {
    color: var(--text-color);
    text-align: center;
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.032rem;
    border-radius: 1rem;
    width: 130px;
    min-height: 12px;
    background: var(--button-color);
    border: 0;
    text-decoration-line: none;
    padding: 20px 85px;
    margin: 44px auto 0 auto;
}

.clients {
    min-width: 390px;
}

.clients__wrapper {
    padding: 62px 45px 0 45px;
}

.clients__title {
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 3.8rem;
    font-style: italic;
    line-height: normal;
    font-weight: 400;
    margin: 0;
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 0px 0 0px;
    gap: 20px;
}

.clients-list__item {
    border-radius: 20px;
    background: var(--form-color);
    width: 140px;
    min-height: 140px;
    list-style-type: none;
    margin: 18.5px 0 0 0;
}

.clients-list__image {
    min-width: 84px;
    min-height: 84px;
    margin: 8px 0 0 27px;
}

.clients-list__image-Hawai {
    /* width: 107px; */
    height: 66px;
    margin: 24px 0 0 21px;
}

.clients-list__name {
    display: block;
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6rem;
    padding: 0 0px 0 0;
    margin: 1px 0 0 10px;
}

.clients__buttons {
    display: none;
}

.clients__link {
    color: var(--text-color);
    text-align: center;
    display: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.032rem;
    border-radius: 1rem;
    width: 130px;
    min-height: 12px;
    background: var(--button-color);
    border: 0;
    text-decoration-line: none;
    padding: 20px 87px;
    margin: 0 auto;
}

.footer__wrapper {
    background-color: var(--backgroundfooter-color);
    min-height: 513px;
    min-width: 390px;
    position: absolute;
}

.footer__title {
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 3.8rem;
    font-style: italic;
    line-height: normal;
    font-weight: 400;
    margin: 91px 0 37px 45px;
}

.footer__image {
    width: 100%;
    object-fit: cover;
    height: 424px;
}

.footer__address-wrapper {
    background-color: var(--backgroundfooter-color);
    padding-left: 45px;
    padding: 34px 60px 72px 45px;
}

.footer__address {
    color: var(--text-color);
    text-align: left;
    font-family: 'Philosopher', serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 179.182%;
    list-style-type: none;
    margin: 0;
    display: block;
}

.footer__contacts {
    margin: 40px 0 0px 0;
}

.footer__telephone {
    text-decoration-line: none;
    color: var(--text-color);
}

.footer__email {
    text-decoration-line: none;
    color: var(--text-color);
}

button {
    transition: background-color 0.4s, box-shadow 0.2s 0.3s;
}

button:hover {
    background-color: #98b164;
    /* Цвет фона */
    box-shadow: 0 0 0 4px #F3F1EC, 0 0 0 5px #8a9b66;
    /* Тень в виде рамки */
}

.header__button-menu:hover {
    background-color: #6c7754;
    box-shadow: none;
}

button:active {
    background-color: #98b164;
    /* Цвет фона */
    box-shadow: 0 0 0 4px #F3F1EC, 0 0 0 5px #8a9b66;
    /* Тень в виде рамки */
}

button:focus {
    background-color: #98b164;
    /* Цвет фона */
    box-shadow: 0 0 0 4px #F3F1EC, 0 0 0 5px #8a9b66;
    /* Тень в виде рамки */
}

.outdoor-furniture__link,
.company__link,
.catalog__link,
.order-process__link,
.article__link,
.products__link,
.clients__link{
    transition: background-color 0.4s, box-shadow 0.2s 0.3s;
}

.outdoor-furniture__link:hover,
.company__link:hover,
.catalog__link:hover,
.order-process__link:hover,
.article__link:hover,
.products__link:hover,
.clients__link:hover {
    background-color: #98b164;
    /* Цвет фона */
    box-shadow: 0 0 0 4px #F3F1EC, 0 0 0 5px #8a9b66;
    /* Тень в виде рамки */
}

.outdoor-furniture__link:active,
.company__link:active,
.catalog__link:active,
.order-process__link:active,
.article__link:active,
.products__link:active,
.clients__link:active {
    background-color: #98b164;
    box-shadow: 0 0 0 4px #F3F1EC, 0 0 0 5px #8a9b66;
}

.outdoor-furniture__link:focus,
.company__link:focus,
.catalog__link:focus,
.order-process__link:focus,
.article__link:focus,
.products__link:focus,
.clients__link:focus{
    background-color: #98b164;
    box-shadow: 0 0 0 4px #F3F1EC, 0 0 0 5px #8a9b66;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
@media (min-resolution: 2dppx) {
    .outdoor-furniture {
        background-image: url('/Image/Background-first-block2x.jpg');
    }
}
.skip-link {
    display: block;
    position: absolute;
    top: -1px;
    left: 20%;
    padding: 9px 118px;
    color: #ffffff;
    background: #208002;
    transform: translateY(-100%);
    text-decoration: none;
    font-size: 2rem;
}
.skip-link:focus {
    transform: translateY(20%);
}
@media (min-width:535px) {
    .product__image-big {
        min-height: 320px;
    }

    .catalog__item:nth-child(8) {
        display: none;
    }

    .catalog__item:nth-child(9) {
        display: none;
    }

    .clients-list {
        gap: 12px;
    }

    .sofa__image {
        width: 566px;
        object-position: 82px 10px;
    }

    .order-process__list {
        gap: 30px;
    }

    .article__list {
        gap: 30px;
    }
    .clients-list__image-Hawai {
        /* height: 102px; */
        /* margin: 0px 0 0 21px; */
    }
}

@media (min-width:680px) {
    .product__image-big {
        min-width: 0;
        min-height: 0;
        height: 179px;
        width: 271px;
    }

    .catalog__list-big {
        flex-wrap: nowrap;
    }

    .catalog__item:nth-child(8) {
        display: block;
    }

    .catalog__item:nth-child(9) {
        display: block;
    }

    .catalog__list {
        gap: 30px 11px;
    }

    .outdoor-furniture {
        background-position: 0;
    }

    .custom-order {
        background-position: 0;
    }

    .article__reviews-Kirill {
        padding: 18px 18px 142px 18px;
    }

    .company__wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .company::before {
        top: -40px;
        background-image: url(/Image/hearts_2.svg);
        height: 78px;
    }

    .company__-wrapper-desctop {
        display: grid;
        grid-template-columns: 324px 304px;
        justify-content: center;
    }

    .company__image {
        margin: 43px auto 0 6px;
        grid-column: 2/3;
        width: 268px;
        height: 323px;
    }

    .company__list {
        grid-area: 1/1;
    }

    .company__link {
        grid-column: 1/3;
        padding: 16px 91px;
        margin: 18px 0 0 0;
    }

    .company__item-number {
        line-height: 65px;
        margin: 20px 0 0 0;
        font-size: 6rem;
    }

    .company__item-production {
        line-height: 3.5rem;
        margin: 28px 58px 0 59px;
    }

    .company__item-text-years {
        margin-bottom: 12px;
    }


    .company__item-text {
        margin-bottom: 19px;
    }

    .image-ovals,
    .image-ovals-two,
    .image-ovals-three {
        width: 315px;
        top: 2px;
    }

    .company__wrapper {
        padding: 28px 0px 0 35px;
    }
}


@media (min-width:390px) {
    .footer__image {
        object-position: 0;
        height: auto;
    }
}

@media (min-width:768px) {
    .company__-wrapper-desctop {
        gap: 80px;
    }

    .product__image-big {
        height: 196px;
        width: 305px;
    }

    .custom-order__input {
        width: 405px;
    }

    .custom-order__textarea {
        width: 395px;
    }

    .custom-order__agreement {
        font-size: 1.5rem;
    }

    .custom-order__button {
        width: 42.5rem;
    }

    .products__sofa {
        position: relative;
        bottom: 120px;
        transform: scaleX(-1);
    }

    .sofa__image {
        object-position: 0px;
        left: 72px;
    }

    .products__sofa-two {
        position: relative;
        bottom: 57px;
        left: 0px;
    }

    .products__detail-tree {
        position: relative;
    }
}

@media (min-width:830px) {
    .catalog__list {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    }

    .product__image-big {
        height: 205px;
        width: 327px;
    }

    .catalog__wrapper {
        padding: 62px 43px 0 43px;
    }
}

@media (min-width: 940px) {
    .catalog__list {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        padding: 43px;
    }

    .catalog__list-big {
        gap: 84px;
    }
}

@media (min-width:1024px) {
    .catalog__list-big {
        gap: 94px;
    }

    .catalog__list {
        grid-template-columns: repeat(auto-fill, minmax(192px, 1fr));
        gap: 20px 0px;
        padding: 0 20px;
        padding-top: 42px;
        padding-bottom: 50px;
    }

    .products__detail-tree {
        left: 571px;
        max-width: 320px;
    }

    .sofa__image {
        object-position: 0px;
        left: 23px;
        width: 938px;
    }

    .sofa-two__image {
        display: none;
    }

    .article__reviews-Andrey {
        padding: 23px 20px 239px 18px;
    }

    .company__item-number {
        line-height: 65px;
        margin: 20px 0 0 0;
        font-size: 7rem;
    }

    .image-ovals,
    .image-ovals-two,
    .image-ovals-three {
        width: 350px;
        top: -2px;
    }

    .company__image {
        margin: 25px auto 0 6px;
        width: 320px;
        height: 409px;
    }

    .custom-order__title {
        font-size: 4.2rem;
        padding: 64px 0 0 0px;
    }

    .custom-order__para {
        font-size: 3.4rem;
    }

    .custom-order__subpara {
        font-size: 5.2rem;
        margin: 0 0 50px 50px;
    }

    .custom-order__input {
        margin-left: 50px;
    }

    .custom-order__textarea {
        margin-left: 50px;
    }

    .custom-order__agreement {
        margin-left: 50px;
    }

    .custom-order__button {
        margin-left: 50px;
    }

    .header__address-wrapper {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 14px;
        left: 89px;
        margin: 0;
    }

    .header__address,
    .header__work-time,
    .header__telephone {
        display: block;
    }

    .header__wrapper {
        padding: 56px 0 0;
    }

    .outdoor-furniture__wrapper {
        padding-left: 83px;
    }

    .header__logo-link {
        font-size: 5rem;
        margin-left: 83px;
    }

    .menu{
        width: 60px;
    }

    .outdoor-furniture__title {
        margin: 16rem 0rem 0rem 0;
    }
}

@media (min-width: 1086px) {
    .catalog__list {
        grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
        gap: 20px 0px;
        padding: 0 87px;
        padding-top: 42px;
        padding-bottom: 50px;
    }
}

@media (min-width:1275px) {
    .catalog__list {
        grid-template-columns: repeat(auto-fill, minmax(247px, 1fr));
        padding: 0 100px;
        padding-top: 42px;
        padding-bottom: 50px;
    }

    .catalog__list-big {
        gap: 215px;
    }

    .order-process__list {
        gap: 37px;
    }

    .article__list {
        gap: 46px;
    }

    .products__detail {
        max-width: 310px;
        min-width: 238px;
        position: relative;
        left: 75px;
        top: 20px;
    }

    .products__detail-tree {
        left: 762px;
    }

    .products__detail-textile {
        max-width: 352px;
        min-width: 238px;
        left: 160px;
        bottom: 53px;
    }

    .sofa__image {
        object-position: 0px;
        left: 44px;
        width: 1148px;
    }

    .catalog__wrapper {
        padding: 10px 43px 0 43px;
    }
}

@media (min-width: 1440px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .header__logo-link {
        font-size: 7rem;
        padding: 0;
        margin-left: 137px;
        position: relative;
        z-index: 100;
    }

    .header__button-menu {
        display: none;
    }

    .header__address-wrapper {
        display: flex;
        top: 8px;
        left: 549px;
    }

    .header__address {
        display: block;
    }

    .header__work-time {
        display: block;
    }

    .header__telephone {
        display: block;
    }

    .header__nav {
        display: flex;
        justify-content: center;
        position: relative;
        top: -50px;
        z-index: 80;
        margin-left: 250px;
    }

    .header__navigation-list {
        display: flex;
        gap: 65px;
    }

    .header__messenger {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 20px;
        margin: 0;
        position: relative;
        z-index: 80;
    }

    .outdoor-furniture__wrapper {
        padding-left: 140px;
    }

    .outdoor-furniture__title {
        font-size: 5rem;
        margin-top: 160px
    }

    .outdoor-furniture__subtitle {
        font-size: 8rem;
    }

    .outdoor-furniture__subsubtitle {
        padding-left: 210px;
        font-size: 5rem;
    }

    .outdoor-furniture__link {
        padding: 23px 208px;
        margin: 71px 0px 0px 0px;
    }

    .outdoor-furniture__benefits {
        flex-direction: row;
        margin-left: 0px;
        margin-top: 98px;
    }

    .benefits__description {
        font-size: 2.6rem;
        max-width: 320px;
    }

    .benefits__item:nth-child(3)>.benefits__description {
        max-width: 180px;
    }

    .benefits__item {
        padding: 0 58px 0 0px;
    }

    .benefits__img {
        min-width: 80px;
        min-height: 80px;
    }
}

@media (min-width: 1440px) {
    .company__wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 22px 0px 0 137px;
    }

    .company::before {
        top: -40px;
        background-image: url(/Image/hearts_2.svg);
        height: 78px;
    }

    .company__title {
        font-size: 8rem;
        padding-left: 0px;
    }

    .company__-wrapper-desctop {
        display: grid;
        grid-template-columns: 541px 569px;
        width: 1162px;
    }

    .company__image {
        margin: 0;
        grid-column: 2/3;
        height: 671px;
        width: 563px;
    }

    .company__list {
        grid-area: 1/1;
    }

    .company__link {
        grid-column: 1/3;
        padding: 20px 200px;
    }

    .company__item-number {
        font-size: 10rem;
        line-height: 65px;
        margin: 43px 0 0 0;
    }

    .company__item-production {
        font-size: 5rem;
        line-height: 3.5rem;
        margin: 75px 58px 0 59px;
    }

    .company__item-text-years {
        font-size: 2.4rem;
        margin-bottom: 65px;
    }

    .company__item-text-buyer {
        font-size: 2.4rem;
        margin-bottom: 22px;
    }

    .company__item-text {
        font-size: 2.4rem;
        margin-bottom: 54px;
    }

    .image-ovals {
        width: 500px;
        top: -20px;
    }

    .image-ovals-two {
        top: -6px;
        width: 500px;
    }

    .image-ovals-three {
        top: 10px;
        width: 500px;
    }
}

@media (min-width: 1440px) {
    .products__title {
        font-size: 8rem;
        padding-top: 61px;
    }

    .information__toggle {
        width: 42px;
        height: 42px;
        background-position: 5px 5px;
    }

    .information__title,
    .information__title-tree {
        font-size: 3.4rem;
    }

    .information__description {
        font-size: 2rem;
    }

    .products__detail {
        position: relative;
        z-index: 100;
    }

    .products__detail-tree {
        min-height: 180px;
        position: relative;
        left: 706px;
        bottom: 236px;
    }

    .products__detail-textile {
        max-width: 490px;
        position: relative;
        left: 607px;
        bottom: 79px;
    }

    .products__sofa {
        display: none;
    }

    .products__sofa-two {
        bottom: 405px;
        z-index: 1;
    }

    .sofa-two__image {
        width: 1186px;
        left: 17px;
    }

    .products__link {
        display: block;
        padding: 20px 200px;
        position: relative;
        left: -333px;
        bottom: 144px;
        z-index: 100;
        margin: 0 0 0 352px;
    }
}

@media (min-width: 1440px) {
    .custom-order {
        background-position: 0px 30px;
    }

    .custom-order__wrapper {
        padding-left: 140px;
        padding-top: 66px;
    }

    .custom-order__title {
        font-size: 5rem;
        padding: 0;
    }

    .custom-order__para {
        font-size: 4.2rem;
    }

    .custom-order__subpara {
        font-size: 8rem;
        padding-left: 99px;
    }

    .custom-order__label-name,
    .custom-order__label-telephone {
        margin-left: 0px;
    }

    .custom-order__input {
        width: 435px;
        margin: 0;
    }

    .custom-order__label-textarea {
        margin-left: 0px;
    }

    .custom-order__textarea {
        width: 425px;
        margin: 0;
    }

    .custom-order__agreement {
        font-size: 1.7rem;
        margin: 0;
    }

    .custom-order__link {
        font-size: 1.2rem;
    }

    .custom-order__button {
        min-width: 450px;
        min-height: 63px;
        margin: 23px 0;
    }

    .sofa-two__image {
        display: block;
    }
}

@media (min-width: 1440px) {
    .order-process__wrapper {
        padding-left: 137px;
        padding-top: 20px;
    }

    .order-process::before {
        top: -40px;
        background-image: url(/Image/hearts_2.svg);
        height: 78px;
    }

    .order-process__list {
        gap: 67px;
        justify-content: normal;
    }

    .order-process__item {
        margin: 0;
    }

    .order-process__title {
        font-size: 8rem;
    }

    .order-process__subtitle {
        font-size: 3.4rem;
    }

    .order-process__description {
        font-size: 2rem;
    }

    .order-process__item {
        min-width: 290px;
        min-height: 486px;
        padding-left: 29px;
        padding-top: 58px;
        padding-right: 29px;
    }

    .order-process__image,
    .order-process__image-pc {
        min-width: 100px;
    }

    .order-process__link {
        margin-top: 55px;
        padding: 20px 260px;
    }
}

@media (min-width: 1440px) {
    .article__wrapper {
        padding-left: 137px;
    }

    .article__list {
        gap: 41px;
        justify-content: normal;
    }

    .article__reviews-Anna,
    .article__reviews-Kirill {
        max-width: 330px;
        margin: 0;
    }

    .article__reviews-Andrey{
        padding: 23px 20px 257px 18px;
        max-width: 330px;
        margin: 0;
    }
    .article__title {
        font-size: 8rem;
    }

    .reviews__text {
        font-size: 1.6rem;
        padding-right: 19px;
        padding-bottom: 0px;
    }

    .reviews__text-br {
        font-size: 1.6rem;
    }

    .reviews__author {
        font-size: 3.4rem;
    }

    .article__link {
        margin-top: 60px;
        padding: 20px 260px;
    }
}

@media (min-width: 1440px) {
    .footer__title {
        margin-left: 137px;
        font-size: 8rem;
        padding-top: 48px;
    }

    .footer__wrapper {
        position: absolute;
        height: 0;
        background-color: var(--background-color);
    }

    .footer__address-wrapper {
        position: relative;
        bottom: 680px;
        max-width: 573px;
        left: 100px;
        margin: 0;
        padding: 60px 50px 20px 50px;
    }

    .footer__address {
        padding: 0;
        font-size: 2rem
    }
}


@media (min-width:1440px) {
    .clients__wrapper {
        padding: 48px 117px 0 137px;
    }

    .clients-list__item:nth-last-child(-n+2) {
        display: none;
    }

    .clients-list {
        justify-content: center;
        gap: 40px;
    }

    .clients-list__item {
        width: 260px;
        min-height: 260px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        margin: 0;
    }

    .clients-list__name {
        font-size: 2.4rem;
        padding: 0;
        margin: 0;
        margin-top: 50px;
    }

    .clients-list__image {
        min-height: 148px;
        margin: 0;
        margin-top: 20px;
    }

    .clients-list__image-Hawai {
        width: 170px;
        height: 111px;
        margin: 36px 0 20px 14px;
    }

    .clients__title {
        font-size: 8rem;
        margin-bottom: 30px;
    }

    .clients__buttons {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .clients__button-1 {
        background-color: #9EAF7C80;
        border: 0;
        border-radius: 100px;
        padding: 8px;
    }

    .clients__button-2 {
        background-color: #9EAF7C80;
        border: 0;
        border-radius: 100px;
        padding: 8px;
        margin: 0 12px;
    }

    .clients__button-3 {
        background-color: #9EAF7C80;
        border: 0;
        border-radius: 100px;
        padding: 8px;
    }

    .clients__link {
        display: block;
        margin-top: 60px;
        padding: 20px 260px;
    }

}

@media (min-width:1440px) {
    .products__wrapper {
        padding: 24px 0px 0 137px;
    }

    .catalog::after {
        background-image: url(/Image/hearts_2.svg);
        height: 76px;
        bottom: -82px;
        z-index: 2;
    }

    .product__image-big {
        height: 255px;
        width: 360px;
        margin-bottom: 10px;
    }

    .catalog__title {
        font-size: 8rem;
    }

    .catalog__item:nth-child(4) {
        display: none;
    }

    .catalog__list {
        gap: 77px 0;
        grid-template-columns: repeat(auto-fill, minmax(385px, 1fr));
        padding: 42px 20px;
        justify-items: normal;
    }

    .catalog__item:first-child {
        grid-column: 1/3;
    }

    .catalog__list-big {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 73px;
    }

    .product__link {
        font-size: 2.8rem;
        line-height: 100%;
        width: 280px;
    }

    .catalog__link {
        display: block;
        margin-top: 60px;
        padding: 20px 260px;
        margin-bottom: 51px;
    }

    .rwd-wrapper {
        max-width: 1440px;
        margin: auto;
    }

    .header__wrapper {
        padding: 25px 0 0;
        position: absolute;
        width: 100%;
        display: block;
        justify-content: space-between;
    }

    section,.article {
        max-width: 1440px;
        margin: auto;
    }

    .custom-order {
        max-width: 1440px;
        margin: auto;
    }

    footer {
        max-width: 1440px;
        margin: auto;
    }

    .outdoor-furniture__title::after {
        top: 55px;
        width: 371px;
    }

    .catalog__item:nth-child(1)>.product__link:hover:after {
        width: 266px;
        top: 33px;
    }
    
    .catalog__item:nth-child(2)>.product__link:hover:after {
        width: 203px;
        top: 31px;
    }
    
    .catalog__item:nth-child(3)>.product__link:hover:after {
        top: 63px;
        width: 182px;
    }
    
    .catalog__item:nth-child(4)>.product__link:hover:after {
        top: 63px;
        width: 182px;
    }
    
    .catalog__item:nth-child(5)>.product__link:hover:after {
        top: 63px;
        width: 182px;
    }
    
    .catalog__item:nth-child(6)>.product__link:hover:after {
        width: 253px;
        top: 37px;
    }
    
    .catalog__item:nth-child(7)>.product__link:hover:after {
        width: 150px;
        top: 30px;
    }
    
    .catalog__item:nth-child(8)>.product__link:hover:after {
        width: 230px;
        top: 30px;
    }
    
    .catalog__item:nth-child(9)>.product__link:hover:after {
        width: 250px;
        top: 30px;
    }

    .custom-order__title::after {
        top: 63px;
        width: 472px;
    }

    .order-process__subtitle::before {
        width: 296px;
    }

    .reviews__text::before {
        width: 336px;
    }
}