/* inter-300 - cyrillic */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/inter-v13-cyrillic-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - cyrillic */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-cyrillic-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - cyrillic */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v13-cyrillic-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* philosopher-regular - cyrillic */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/philosopher-v19-cyrillic-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* philosopher-italic - cyrillic */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Philosopher';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/philosopher-v19-cyrillic-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* philosopher-700 - cyrillic */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/philosopher-v19-cyrillic-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --button-color: #6c7754;
    --background-color: #F3F1EC;
    --backgroundfooter-color: #6c7754;
    --text-color: #FFFFFF;
    --subtext-color: #000;
    --number-color: #9EAF7C;
    --title-color: #4B4B4B;
    --border-color: #C3BEBE;
    --form-color: #FFFFFF;
    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.header {
    padding: 25px 0 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__logo-link {
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Philosopher', serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0;
    margin-left: 45px;
}

.header__button-menu {
    border-radius: 60px;
    background: var(--button-color);
    min-width: 30px;
    min-height: 30px;
    padding: 13px;
    border: 0;
    margin-right: 45px;
}

.header__address-wrapper {
    display: none;
    flex-direction: row;
    margin-left: 535px;
    padding-top: 5px;
}

.header__address {
    display: none;
    color: var(--text-color);
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.084rem;
    padding: 0;
    margin: 0;
    margin-left: 90px;
}

.header__work-time {
    display: none;
    color: var(--text-color);
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.084rem;
    padding: 0;
    margin: 0;
    margin-left: 227px;
}

.header__telephone {
    display: none;
    color: var(--text-color);
    text-align: right;
    font-family: 'Philosopher', serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.108rem;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    text-decoration: none;
}

.header__nav {
    display: none;
}

.header__messenger {
    display: none;
}

.navigation__link {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.108rem;
    text-decoration: none;
}

.navigation__item {
    list-style-type: none;
}

.messenger__item {
    list-style-type: none;
}

.outdoor-furniture {
    background-image: url(/Image/Background-first-block.jpg);
    background-position: -529px 0px;
    background-size: cover;
    min-width: 390px;
    min-height: 804px;
}

.outdoor-furniture__wrapper {
    background: rgba(68, 66, 55, 0.70);
    min-height: 804px;
    padding: 0.01rem 0rem 0;
    padding-left: 45px;
}

.outdoor-furniture__title {
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.204rem;
    margin: 13rem 0rem 0rem 0;
}

.outdoor-furniture__subtitle {
    color: var(--text-color);
    font-family: 'Philosopher', serif;
    font-size: 4.0rem;
    font-style: italic;
    line-height: normal;
    margin: 1.3rem 0 0 0;
}

.outdoor-furniture__subsubtitle {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.204rem;
    margin: 0.3rem 0 4.1rem 0;
    padding: 0 0 0 3rem;
}

.outdoor-furniture__link {
    color: var(--text-color);
    text-align: center;
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.032rem;
    border-radius: 1rem;
    width: 13rem;
    background: var(--button-color);
    border: 0;
    text-decoration-line: none;
    padding: 20px 81px;
    margin: 0 0 0 8px;
}

.outdoor-furniture__benefits {
    margin: 49px 0px 0px 0px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.benefits__item {
    list-style-type: none;
    padding: 0 50px 0 0px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.benefits__description {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.108rem;
    margin: 0 0 20px 0;
}

.benefits__img {
    min-width: 60px;
    min-height: 60px;
    background: #9EAF7C;
    border-radius: 100px;
    margin: 0 0 15px 0;
}

.company {
    min-width: 390px;
}

.company__wrapper{
    padding: 22px 35px 0 35px;
}

.company__title {
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 3.8rem;
    font-style: italic;
    line-height: normal;
    margin: 0px 0 35px 0;
    font-weight: 400;
}

.company__image {
    height: 335px;
    display: block;
    padding: 0;
    margin: 0 auto;
    border-radius: 20px;
    border: 5px solid #9EAF7C;
}

.company__list {
    padding: 0;
}

.company__list-item {
    position: relative;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company__item-number {
    color: var(--number-color);
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    font-size: 7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
}

.company__image-ovals {
    position: absolute;
    object-fit: cover;
    top: -24px;
    left: 0px;
    margin: 0 0 0 11px;
}

.image-ovals {
    object-fit: cover;
    position: absolute;
    width: 350px;
    z-index: 1;
}

.image-ovals-two {
    object-fit: cover;
    position: absolute;
    top: 13px;
    width: 350px;
    z-index: 1;
}

.image-ovals-three {
    object-fit: cover;
    position: absolute;
    top: 26px;
    width: 350px;
    z-index: 1;
}

.company__item-text {
    color: var(--subtext-color);
    text-align: center;
    font-family: 'Inter', serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
}

.company__item-text-years {
    color: var(--subtext-color);
    text-align: center;
    font-family: 'Inter', serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
}

.company__item-text-buyer {
    color: var(--subtext-color);
    text-align: center;
    font-family: 'Inter', serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
}

.company__item-production {
    color: var(--number-color);
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.1rem;
    margin: 67px 58px 0 59px;
    max-width: min-content;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
}

.company__link {
    color: var(--text-color);
    text-align: center;
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.032rem;
    border-radius: 1rem;
    width: 130px;
    background: var(--button-color);
    border: 0;
    text-decoration-line: none;
    padding: 20px 87px;
    margin: 73px auto 0 auto;
}

.products {
    min-width: 390px;
}

.products__wrapper{
    padding: 39px 0px 0 43px;
}

.products__title {
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 3.8rem;
    font-style: italic;
    line-height: normal;
    margin: 0px 0 39px 0;
    font-weight: 400;
}

.products__detail {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(223, 224, 226, 0.20) 0.01%, rgba(143, 145, 149, 0.20) 100%);
    box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(10.5px);
    margin: 0 46px 101px 0px;
    max-width: 459px;
    min-width: 238px;
    padding-left: 65px;
}

.products__detail-tree {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(223, 224, 226, 0.20) 0.01%, rgba(143, 145, 149, 0.20) 100%);
    box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(10.5px);
    margin: 0 46px 101px 0px;
    max-width: 459px;
    min-width: 238px;
    padding-left: 65px;
}

.products__detail-textile {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(223, 224, 226, 0.20) 0.01%, rgba(143, 145, 149, 0.20) 100%);
    box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(10.5px);
    margin: 0 46px 0px 0px;
    max-width: 459px;
    min-width: 238px;
    z-index: 100;
    position: relative;
    padding-left: 65px;
}

.information__toggle {
    display: inline-flex;
    border-radius: 60px;
    background: var(--button-color);
    width: 33px;
    height: 33px;
    border: 0;
    margin: 10px 0 0 -54px;
    background-image: url(/Image/plus.svg);
    background-repeat: no-repeat;
}

.products__sofa {
    position: relative;
    bottom: 120px;
    border: 0;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sofa__image {
    position: absolute;
    width: 482px;
    object-fit: cover;
    object-position: 165px 10px;
}

.products__sofa-two {
    position: relative;
    bottom: 130px;
    left: -330px;
}

.sofa-two__image {
    position: absolute;
    z-index: 1;
    width: 649px;
}

.information__title {
    display: inline-block;
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.6rem;
    margin: 0 0 0 0px;
    padding-right: 43px;
}

.information__title-tree {
    display: inline-block;
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.6rem;
    margin: 0;
}

.information__description {
    color: var(--title-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: normal;
    padding: 0px 11px 0px 0px;
    font-weight: 400;
}

.products__link {
    display: none;
    color: var(--text-color);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.032rem;
    border-radius: 1rem;
    width: 13rem;
    background: var(--button-color);
    border: 0;
    text-decoration-line: none;
    padding: 20px 87px;
    margin: 0 auto;
}


.catalog {
    min-width: 390px;
}

.catalog__wrapper{
    padding: 39px 43px 0 43px;
}

.catalog__title {
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 3.8rem;
    font-style: italic;
    line-height: normal;
    margin: 0 0 0px 0;
    font-weight: 400;
}

.catalog__list {
    padding: 43px 0px;
    margin: 0 auto;
    display: grid;
    gap: 30px 14.5px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    justify-items: center;
}

.catalog__item {
    list-style-type: none;
    max-width: min-content;
}
.catalog__item:first-child{
    grid-column: 1/-1;
}
.catalog__list-big {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.product__image-big {
    min-width: 299px;
    min-height: 254px;
    border-radius: 20px;
    background: rgba(158, 175, 124, 0.20);
    margin: 0 0 21px 0;
}

.product__image {
    margin-bottom: 10px;
    min-width: 140px;
    min-height: 132px;
    border-radius: 20px;
    background: rgba(158, 175, 124, 0.20);
}

.product__link {
    display: block;
    text-align: left;
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6rem;
    text-decoration: none;
    padding: 0 0px 0 0;
}

.catalog__link {
    color: var(--text-color);
    text-align: center;
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.032rem;
    border-radius: 1rem;
    width: 130px;
    background: var(--button-color);
    border: 0;
    text-decoration-line: none;
    padding: 20px 87px;
    margin: 0 auto;
}

.custom-order {
    background-image: url(/Image/background_form.jpg);
    background-position: -705px -21px;
    margin: 46px 0 0 0;
}

.custom-order__wrapper {
    background: rgba(68, 66, 55, 0.70);
    min-height: 770px;
    padding-left: 45px;
}

.custom-order__title {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.192rem;
    padding: 76px 0 0 0px;
    margin: 0 0 23px 0;
}

.custom-order__para {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.144rem;
    padding: 0 20px 0 0px;
    margin: 0 0 8px 0;
}

.custom-order__subpara {
    color: #FFF;
    font-family: 'Philosopher', serif;
    font-size: 3.2rem;
    font-style: italic;
    line-height: normal;
    margin: 0 0 50px 0;
}

.custom-order__label-name, .custom-order__label-telephone {
    display: block;
    margin-bottom: 20px;
}

.custom-order__input {
    color: #101213;
    font-family: sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    line-height: 1.96rem;
    outline: none;
    border: none;
    width: 290px;
    height: 48px;
    border-radius: 50px;
    padding-left: 21px;
}

.custom-order__label-textarea {
    display: block;
}

.custom-order__textarea {
    color: #101213;
    font-family: sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    line-height: 1.96rem;
    resize: none;
    outline: none;
    border: none;
    width: 280px;
    height: 110px;
    border-radius: 20px;
    padding: 20px 10px 0 20px;
}

.custom-order__agreement {
    color: #FFF;
    font-family: sans-serif;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.5rem;
    margin: 15px 0 0 0px;
    padding: 0 35px 0 0;
}

.custom-order__link {
    color: #9EAF7C;
    text-decoration-line: underline;
}

.custom-order__button {
    color: var(--text-color);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 1.92rem;
    letter-spacing: -0.032rem;
    border-radius: 1rem;
    background: var(--button-color);
    width: 30rem;
    height: 5.8rem;
    border: 0;
    margin: 23px 0 0 0px;
}

.order-process {
    min-width: 390px;
}

.order-process__wrapper{
    padding: 22px 43px 0 43px;
}

.order-process__title {
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 3.8rem;
    font-style: italic;
    line-height: normal;
    margin: 0 0 35px 0;
    padding: 0px 0 0 0px;
    font-weight: 400;
}

.order-process__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.order-process__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    max-width: 302px;
    min-height: 407px;
    border-radius: 20px;
    background: var(--form-color);
    list-style-type: none;
    margin: 0 0 35px 0;
    padding: 48px 15px 0 28px;
}

.order-process__subtitle {
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.96rem;
    margin: 79.4px 0 0 0;
}

.order-process__description {
    color: var(--title-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    line-height: normal;
    margin: 17px 0 0 0px;
    font-weight: 400;
}

.order-process__link {
    color: var(--text-color);
    text-align: center;
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.032rem;
    border-radius: 1rem;
    width: 130px;
    background: var(--button-color);
    border: 0;
    text-decoration-line: none;
    padding: 20px 87px;
    margin: 0 auto;
}

.article {
    min-width: 390px;
}

.article__wrapper{
    padding: 56px 45px 0 45px;
}

.article__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.article__item{
    margin-bottom: 18px;
}

.article__title {
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 3.8rem;
    font-style: italic;
    line-height: normal;
    margin: 0 0 44px 0;
    font-weight: 400;
}

.article__reviews-Anna {
    border-radius: 20px;
    max-width: 300px;
    background: var(--form-color);
    padding: 18px 3px 40px 18px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.article__reviews-Kirill {
    padding: 0;
    border-radius: 20px;
    max-width: 300px;
    background: var(--form-color);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 18px 18px 37px 18px;
}

.article__reviews-Andrey {
    border-radius: 20px;
    max-width: 300px;
    background: var(--form-color);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 23px 45px 42px 18px;
}

.reviews__image {
    width: 89px;
    height: 89px;
    border-radius: 100px;
    background-color: #9EAF7C;
    /* margin: 18px 0 0 18px; */
}

.reviews__author {
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.8rem;
    min-height: 56px;
    max-width: 120px;
    margin: 18px 0 0 24px;
}

.reviews__text {
    color: var(--title-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    line-height: normal;
    /* padding: 0 3px 40px 18px; */
    margin: 57px 0 0 0;
}

.reviews__text-br {
    color: var(--title-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    line-height: normal;
    padding: 0;
    margin: 0;
}

.article__link {
    color: var(--text-color);
    text-align: center;
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.032rem;
    border-radius: 1rem;
    width: 130px;
    min-height: 12px;
    background: var(--button-color);
    border: 0;
    text-decoration-line: none;
    padding: 20px 85px;
    margin: 44px 0 0 0;
}

.clients {
    min-width: 390px;
}

.clients__wrapper{
    padding: 62px 45px 0 45px;
}

.clients__title {
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 3.8rem;
    font-style: italic;
    line-height: normal;
    /* margin: 0 0 0 45px; */
    /* padding: 62px 0 0 0; */
    font-weight: 400;
    margin: 0;
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0px 0 0px;
    gap: 20px;
}

.clients-list__item {
    border-radius: 20px;
    background: var(--form-color);
    width: 140px;
    min-height: 140px;
    list-style-type: none;
    margin: 18.5px 0 0 0;
}

.clients-list__image {
    min-width: 84px;
    min-height: 84px;
    margin: 8px 0 0 27px;
}
.clients-list__image-Hawai{
    width: 107px;
    height: 73px;
    margin: 20px 0 0 21px;
}
.clients-list__name {
    display: block;
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6rem;
    padding: 0 5px 0 0;
    margin: 10px 0 0 10px;
}
.clients__buttons{
    display: none;
}
.clients__link{
    color: var(--text-color);
    text-align: center;
    display: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.032rem;
    border-radius: 1rem;
    width: 130px;
    min-height: 12px;
    background: var(--button-color);
    border: 0;
    text-decoration-line: none;
    padding: 20px 87px;
    margin: 0 auto;
}
.footer__wrapper {
    background-color: var(--backgroundfooter-color);
    min-height: 513px;
    min-width: 390px;
}

.footer__title {
    color: var(--title-color);
    font-family: 'Philosopher', serif;
    font-size: 3.8rem;
    font-style: italic;
    line-height: normal;
    margin: 0 0 0 45px;
    /* padding: 91px 0 37px 0; */
    font-weight: 400;
    padding-left: 45px;
    margin: 91px 0 37px 0;
}

.footer__image {
    width: 100%;
    object-fit: cover;
    object-position: -280px 0px;
    height: 424px;
}

.footer__address-wrapper {
    /* margin: 34px 0 0 0; */
    background-color: var(--backgroundfooter-color);
    padding-left: 45px;
    padding: 34px 60px 72px 45px;
}

.footer__address {
    color: var(--text-color);
    text-align: left;
    font-family: 'Philosopher', serif;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 179.182%;
    list-style-type: none;
    /* margin: 0 60px 0 0; */
    margin: 0;
}

.footer__contacts {
    margin: 40px 0 0px 0;
    /* padding: 0 0 72px 0; */
}

.footer__telephone {
    text-decoration-line: none;
    color: var(--text-color);
}

.footer__email {
    text-decoration-line: none;
    color: var(--text-color);
}

@media (min-width:390px) {
    .clients-list {
        justify-content: space-around;
    }

    .footer__image {
        object-position: -158px 0px;
        height: 478px;
    }
}

@media (min-width: 1440px) {
    .header {
        display: block;
        padding-top: 5px;
    }

    .header__logo-link {
        font-size: 7rem;
        padding: 0;
        margin-left: 137px;
        position: relative;
        z-index: 100;
    }

    .header__button-menu {
        display: none;
    }

    .header__address-wrapper {
        display: flex;
    }

    .header__address {
        display: block;
    }

    .header__work-time {
        display: block;
    }

    .header__telephone {
        display: block;
    }

    .header__nav {
        display: flex;
        justify-content: center;
        position: relative;
        top: -50px;
        z-index: 80;
        margin-left: 250px;
    }

    .header__navigation-list {
        display: flex;
        gap: 65px;
    }

    .header__messenger {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 20px;
        margin: 0;
        position: relative;
        z-index: 80;
    }

    .outdoor-furniture {
        background-position: 0px -150px;
    }

    .outdoor-furniture__title {
        padding-left: 140px;
        font-size: 5rem;
        margin-top: 160px
    }

    .outdoor-furniture__subtitle {
        padding-left: 140px;
        font-size: 8rem;
    }

    .outdoor-furniture__subsubtitle {
        padding-left: 285px;
        font-size: 5rem;
    }

    .outdoor-furniture__link {
        padding: 23px 208px;
        margin: 71px 0px 0px 140px;
    }

    .outdoor-furniture__benefits {
        flex-direction: row;
        margin-left: 98px;
        margin-top: 98px;
    }

    .benefits__description {
        font-size: 2.6rem;
        max-width: 320px;
    }

    .benefits__item {
        padding: 0 0px 0 30px;
    }

    .benefits__img {
        min-width: 80px;
        min-height: 80px;
    }
}

@media (min-width: 1440px) {
    .company__wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }

    .company__title {
        font-size: 8rem;
        padding-left: 0px;
    }

    .company__-wrapper-desctop {
        display: grid;
        grid-template-columns: 496px 64px 561px;
    }

    .company__image {
        margin: 0;
        grid-column: 3/4;
        height: 661px;
    }

    .company__list {
        grid-area: 1/1;
    }

    .company__link {
        grid-column: 1/3;
        padding: 20px 200px;
    }

    .company__item-number {
        font-size: 10rem;
        line-height: 65px;
    }

    .company__item-production {
        font-size: 5rem;
        line-height: 3.5rem;
    }

    .company__item-text-years {
        font-size: 2.4rem;
        margin-bottom: 65px;
    }

    .company__item-text-buyer {
        font-size: 2.4rem;
        margin-bottom: 22px;
    }

    .company__item-text {
        font-size: 2.4rem;
        margin-bottom: 22px;
    }

    .image-ovals {
        width: 500px;
        top: -20px;
    }

    .image-ovals-two {
        top: -6px;
        width: 500px;
    }

    .image-ovals-three {
        top: 10px;
        width: 500px;
    }
}

@media (min-width: 1440px) {
    .products__title {
        font-size: 8rem;
        padding-left: 137px;
        padding-top: 61px;
    }

    .information__toggle {
        width: 42px;
        height: 42px;
        background-position: 5px 5px;
    }

    .information__title,
    .information__title-tree {
        font-size: 3.4rem;
    }

    .information__description {
        font-size: 2rem;
    }

    .products__detail {
        position: relative;
        margin-left: 141px;
        z-index: 100;
    }

    .products__detail-tree {
        min-height: 180px;
        position: relative;
        left: 766px;
        bottom: 236px;
    }

    .products__detail-textile {
        max-width: 490px;
        position: relative;
        left: 663px;
        bottom: 79px;
    }

    .products__sofa {
        display: none;
    }

    .products__sofa-two {
        bottom: 405px;
        z-index: 1;
    }

    .sofa-two__image {
        width: 1186px;
        left: 434px;
    }

    .products__link {
        display: block;
        padding: 20px 200px;
        position: relative;
        left: -333px;
        bottom: 144px;
        z-index: 100;
        margin: 0 0 0 450px;
    }
}

@media (min-width: 1440px) {
    .custom-order{
        background-position: 0px 30px;
    }
    .custom-order__title{
        padding-top: 50px;
        font-size: 5rem;
        padding-left: 140px;
    }
    .custom-order__para{
        font-size: 4.2rem;
        padding-left: 140px;
    }
    .custom-order__subpara{
        font-size: 8rem;
        padding-left: 234px;
    }
    .custom-order__label-name, .custom-order__label-telephone{
        margin-left: 140px;
    }
    .custom-order__input{
        width: 435px;
    }
    .custom-order__label-textarea{
        margin-left: 140px;
    }
    .custom-order__textarea{
        width: 425px;
    }
    .custom-order__agreement{
        margin-left: 140px;
        font-size: 1.2rem;
    }
    .custom-order__link{
        font-size: 1.2rem;
    }
    .custom-order__button{
        margin-left: 140px;
        min-width: 450px;
        min-height: 63px;
    }
}

@media (min-width: 1440px) {
    .order-process__list{
        gap: 40px;
    }
    .order-process__item{
        margin: 0;
    }
    .order-process__title {
        font-size: 8rem;
        padding-left: 137px;
    }

    .order-process__subtitle {
        font-size: 3.4rem;
        margin-left: 29px;
    }

    .order-process__description {
        font-size: 2rem;
        margin-left: 33px;
        padding-right: 40px;
    }

    .order-process__item {
        min-width: 360px;
        min-height: 486px;
    }

    .order-process__image,
    .order-process__image-pc {
        min-width: 100px;
    }

    .order-process__link {
        margin-top: 55px;
        padding: 20px 260px;
    }
}

@media (min-width: 1440px) {
    .article__list{
        gap: 40px;
    }

    .article__reviews-Anna,
    .article__reviews-Andrey,
    .article__reviews-Kirill {
        max-width: 360px;
        min-height: 593px;
        margin: 0;
    }

    .article__title {
        padding-left: 137px;
        font-size: 8rem;
    }

    .reviews__text {
        font-size: 1.6rem;
        padding-right: 19px;
        padding-bottom: 0px;
    }

    .reviews__text-br {
        font-size: 1.6rem;
    }

    .reviews__author {
        font-size: 3.4rem;
    }

    .article__link {
        margin-top: 60px;
        padding: 20px 260px;
    }
}
@media (min-width: 1440px){
    .footer__title{
        margin-left: 137px;
        font-size: 8rem;
        padding-top: 48px;
    }
    .footer__image{
        object-position: -58px 0px;
        height: 828px;
    }
    .footer__wrapper{
        position: absolute;
        height: 0;
        background-color: var(--background-color);
    }
    .footer__address-wrapper{
        position: relative;
        bottom: 680px;
        max-width: 573px;
        left: 100px;
        margin: 0;
        padding: 60px 50px 20px 50px;
    }
    .footer__address{
        padding: 0;
        font-size: 2rem
    }
}
@media (min-width:1440px){
    .clients-list__item:nth-last-child(-n+2) {
        display: none;
    }
    .clients-list{
        justify-content: center;
        gap: 40px;
    }
    .clients-list__item{
        width: 260px;
        min-height: 260px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        margin: 0;
    }
    .clients-list__name{
        font-size: 2.4rem;
        padding: 0;
        margin: 0;
        margin-top: 50px;
    }
    .clients-list__image{
        min-height: 148px;
        margin: 0;
        margin-top: 20px;
    }
    .clients-list__image-Hawai{
        width: 170px;
        height: 111px;
        margin: 36px 0 20px 14px;
    }
    .clients__title{
        font-size: 8rem;
        margin-left: 137px;
        padding-top: 48px;
    }
    .clients__buttons{
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    .clients__button-1{
        background-color: #9EAF7C80;
        border: 0;
        border-radius: 100px;
        padding: 8px;
    }
    .clients__button-2{
        background-color: #9EAF7C;
        border: 0;
        border-radius: 100px;
        padding: 8px;
        margin: 0 12px;
    }
    .clients__button-3{
        background-color: #9EAF7C80;
        border: 0;
        border-radius: 100px;
        padding: 8px;
    }
    .clients__link{
        display: block;
        margin-top: 60px;
        padding: 20px 260px;
    }
}
@media (min-width:1440px){
    .catalog__title{
        padding-left: 137px;
        font-size: 8rem;
    }
    .catalog__item:nth-child(4) {
        display: none;
    }
    .catalog__list {
        padding: 43px 130px;
        gap: 77px 0;
        grid-template-columns: repeat(auto-fill, minmax(385px, 1fr));
    }
    .catalog__item:first-child{
        grid-column: 1/3;
    }
    .catalog__list-big{
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 30px;
    }
    .product__link{
        font-size: 2.8rem;
        line-height: 100%;
    }
    .catalog__link{
        display: block;
        margin-top: 60px;
        padding: 20px 260px;
    }
}
@media (min-width:390px){
    
}